.inputBox {
  width: 30%;
}

.inputBox-main {
  width: 100%;
  display: flex;
}

.inputBox-input {
  padding: 10px;
  width: 70%;
  font-size: 1rem;
  border: 0px solid #000;
  outline: none;
  background-color: #f2f2f2;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.inputBox-btn {
  width: 30%;
  border: 1px solid #cd161c;
  outline: none;
  background-color: #cd161c;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.inputBox-error {
  text-align: left;
  margin-top: 10px;
  margin-left: 2px;
  letter-spacing: 1px;
  font-size: 13px;
  color: #cd161c;
  font-weight: 700;
}
